* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}
/* Nav Bar */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #181a20;
    padding:20px 120px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}

header ul li{
    list-style: none;
    display: inline-block;
}

header ul .sub{
    position: absolute;
    width: 180px;
    background-color: #181a20;
    box-shadow: 0 10px 45px #181a20;
    margin-top: -25px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
}

header ul li .sub li:last-child {
    margin-bottom: 10px;
}

header ul li .sub li {
    margin-top: 20px;
}

header ul li:hover .sub{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
}

.name {
    left: 10%;
    bottom: 1rem;
    font-size: 1.9rem;
    color: #ffffff;
    font-weight: 1000;
    text-decoration: none;
}

nav a {
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

nav a:hover,
nav a.active {
    color: #028299;
}

/* Section */
.top-header{
    text-align: center;
}

.top-header h1{
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
}

section{
    min-height: 105vh;
    color: #ffffff;
    background-color: #2e313b;
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
    align-items: center;
    justify-content: center;
}

h3{
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 25px;
}

.code-container {
    max-height: 400px;
    max-width: 800px;
    overflow-y: scroll;
    background-color: #434857;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 8px 10px 2px #181a20;
}

.collapse{
    margin-top: 20px;
    max-width: 800px;
    background-color: #434857;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}

.active1, .collapse:hover {
    background-color:  #028299;
  }

.collapse:after {
    content: '⮟';
    font-size: 15px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.active1:after {
    content: "⮟";
    transform: rotate(180deg);
  }

.content {
    max-width: 800px;
    background-color: #434857;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:100%;
    box-shadow: 1px 8px 10px 2px #181a20;
}

/* image gallery */
.gallery{
    margin: 0 16px;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    width: calc(540px + 1rem);
    padding: 0 0.25rem;
    height: 350px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

img{
    background-color: #434857;
    border-radius: 15px;
}

.gallery > div {
    scroll-snap-align: start;
}
  
.gallery img {
    width: 540px;
    height: auto;
    object-fit: contain;
}

.discription{
    margin: 0 16px;
    background-color: #434857;
    padding: 10px;
    border-radius: 8px;
    color: #c0c4ce;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: calc(540px + 1rem);
}

.main-container{
    display: flex;
    align-items: center;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.doc{
    max-width: 150px;
    background-color: #434857;
    color: #ffffff;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    align-items: center;
}

.doc:hover{
    background-color: #028299;
}

.button-container{
    display: flex;
}

.parts{
    padding:3em ;
}

.dl{
    max-width: 180px;
    background-color: #434857;
    color: #ffffff;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    align-items: center;
}

.dl:hover{
    background-color: #028299;
}

.dl-section{
    padding-top: 2em;
}
